*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Nunito", sans-serif;
    /*background-image: linear-gradient(25deg, #1f1f1f 20%, black 50%);*/
    color: #353535;
    background: white;
}

nav{
    background: #fffffff1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 5px -2px;
    position: fixed;
    z-index: 10;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    flex: 25%;
    text-align: left;
}

.logo h1{
    font-size: 3rem;
    line-height: 0;
    font-family: "Bungee", sans-serif;
    cursor: pointer;
}

.blue{
    color: #0099ff;
}

.menu{
    text-align: center;
    flex: 50%;
}

.menu a{
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    margin: 0px 0px 15px 15px;
    cursor: pointer;
}

.menu a:hover{
    color: #06666df8;
    border-bottom: 5px solid #0099ff ;
    transition: .1s;
    border-radius: 4px;
}

.end-nav{
    display: flex;
    flex: 25%;
    justify-content: flex-end;
    align-items: center;
}

.btn-dark{
    display: flex;
    margin-left: 50%;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    border-radius: 100px;
    margin-right: 5%;
}

@keyframes transicao {
  0%   { transform: scale(1); /*rotate: 0deg;*/ }
  50%  { transform: scale(0.85);}
  100% { transform: scale(1); /*rotate: 45deg*/ }
}

.btn-anim{
    animation: transicao 0.5s ease;
}

header{
    background: linear-gradient(#ffffffb4, #f4fbfc), url(../img/Image_fx\ \(1\).png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8rem 10% 8rem 10%;
}

.introducao{
    flex: 100%;
    text-align: center;
    max-width: 800px;
    padding: 10% 5% 5% 5%;
}

.introducao h2{
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 0px;
}

.introducao p{
    font-size: 1.4rem;
    padding-bottom: 27%;
}

.introducao img{
    height: 40px;
    margin: 1%;
}

.sobre{
    padding: 4rem 10% 8rem 10%;
    line-height: 1.2 ;
    background: linear-gradient(180deg, #f4fbfc 10%, #fdffff 70%);
}

.sobre-p{
    font-size: 1.55rem;
    text-indent: 50px;
}

.sobre-fot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-content{
    max-width: 630px;
    flex: 40%;
}

.sobre-content img{
    padding: 15%;
    width: 100%;
    border-radius: 50rem;
}

.hp{
    line-height: 1.3;
    border-bottom: 5px solid #0099ff;
    font-size: 2.45rem;
}

.hp-sty{
    display: flex;
}

.point{
    border-bottom: 5px dotted #0099ff;
    width: 37px;
    line-height: 1.3;
    font-size: 2.45rem;
}

.projetos{
    padding: 4rem 10% 6rem 10%;
    width: 100%;
}

.cards-fot{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 1400px;
    font-size: 1.7rem;
}

.cards{
    border-radius: 5%;
    max-width: 400px;
    margin: 1%;
    font-size: 1.15rem;
    box-shadow: 0px 0px 9px -6.5px;
    cursor: pointer;
    background: #f7fbff;
}

.cards-img{
    border-radius: 1.1rem 1.1rem 0 0;
    width: 100%;
    height: 210px;
}

.padd{
    padding: 1.4rem;
}

.cards h3{
    color: #0099ff;
    font-size: 1.5rem;
}

.cards a{
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-weight: 300;
    line-height: 3;
}

.cards:hover{
    transform: scale(1.015);
    transition: .2s;
}

.cards a:hover{
    text-decoration: underline;
}

.center{
    display: flex;
    justify-content: center;
}

.servicos{
    padding: 8rem 10% 8rem 10%;
    width: 100%;
}

.p-at{
    color: #00b7c4;
    font-size: 1.5rem;
    font-weight: 300;
}

.lang-p{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 5%;
    border-top: 2px solid #ececec;
}

.lang-p p{
    margin: 6px 2px;
    background: #0099ff;
    font-weight: 600;
    color: #001c1d;
    border-radius: 50px;
    padding: 6px;
    font-size: 1rem;
}

.servc-fot{
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    width: 100%;
    margin: 5%;
    flex-flow: row wrap;
}

.servc-card{
    border: 1px solid #90aab9;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 230px;
    margin: 1%;
    box-shadow: 0px 0px 9px -5px;
}

.servc-card img{
    border-radius: 7%;
    color: red;
}

.servc-card h3{
    font-size: 1.1rem;
    color: #0099ff;
}

.servc-card:hover{
    transform: scale(1.01);
    transition: .3s;
}

footer{
    border-top: 1px solid #e2e2e2;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    opacity: 0.85;
    background: white;
}

.fot-a{
    display: flex;
    justify-content: center;
    flex: 33%;
    padding: 10px;
}

.fot-a img{
    padding: 10px;
    width: 50px;
}

.letreiro {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 10%;
  }
  
  .faixa {
    display: flex;
    gap: 25px;
    animation: scroll 20s linear infinite;
    width: fit-content;
  }

  .faixa img{
    flex: 0 0 auto;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 139px;
    text-align: center;
  }
  
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
.C-Menu{
    border: none;
    background: #ffffff00;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1%;
    display: none;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: white;
    box-shadow: -2px 0 5px #00000033;
    padding-top: 60px;
    transition: 0.3s;font: bold;
    z-index: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar a {
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #90aab9;
  }
  .sidebar a:hover{
    cursor: pointer;
    background: #e6ebec;
  }
  .closeside{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #2727277e;
    transition: 0.5;
    display: none;
  }
  #contato{
    text-decoration: none;
    font-size: 1.02rem;
    background: #0099ff;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
  #contato:hover{
    color: #dbdbdb;
    transition: .2s;
  }
  #contato-mb{
    text-decoration: none;
    background: #0099ff;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    color: white;
    margin: 0px 0px 15px 15px;
    font-weight: bold;
    cursor: pointer;
    display: none;
  }
  #contato-mb:hover{
    color: #dbdbdb;
    transition: .2s;
  }
  .destaque{
    text-decoration: 2.3px underline;
   text-decoration-color: #0099ff;
  }
  .word{
    color: #0099ff;
  }
  .word::after {
    color: #001c1d;
    content: '|';
    animation: blink 2s infinite;
    margin-left: 5px;
  }

  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  .w-contato{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }






body.dark-theme {
    background: #121212;
    color: #EAEAEA;
}

body.dark-theme nav {
    background: #131313fa;
    box-shadow: 0px 0px 5px -2px #000000c9;
    border-bottom: 1px solid #0099ff;
}

body.dark-theme .cards h3,
body.dark-theme .cards a,
body.dark-theme .p-at{
    color: #00b7c4;
}

body.dark-theme .menu a:hover,
body.dark-theme .cards a:hover,
body.dark-theme .sidebar a:hover {
    color: #80ffff;
    background: #ffffff05;
}

body.dark-theme header {
    background: linear-gradient(#1e1e1eb4, #1e1e1e), url(../img/Image_fx\ \(2\).png);
    background-size: cover;
}

body.dark-theme .sobre {
    background: linear-gradient(180deg, #1e1e1e 10%, #121212 70%);
}

body.dark-theme .projetos {
    background: linear-gradient(#121212fd, #000914f5), url(../img/Image_fx\ \(3\).png);
     background-size: cover;
}

body.dark-theme .servicos {
    background: #000914;
}

body.dark-theme .cards {
    background: #1f1f1f;
    box-shadow: 0px 0px 9px -6.5px rgba(255, 255, 255, 0.05);
}

body.dark-theme .lang-p p {
    background: #00b7c4;
    color: #001c1d;
}

body.dark-theme .servc-card {
    background: #1a1a1a;
    border-color: #3a3a3a;
    box-shadow: 0px 0px 9px -5px rgba(255, 255, 255, 0.05);
}

body.dark-theme footer {
    background: #1a1a1a;
    border-top: 1px solid #333;
    color: #ccc;
}

body.dark-theme .sidebar {
    background-color: #2b2b2b;
}

body.dark-theme #contato,
body.dark-theme #contato-mb {
    background: #00b7c4;
}

body.dark-theme .word::after {
    color: #b8fdff ;
}
body.dark-theme .sidebar a {
    color: #EAEAEA;
}